<div class="module">

    <!-- Breadcrumb menu -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bc-navigation">
            <li class="breadcrumb-item bc-item">
                <a href="home">Home</a>
            </li>
            <li
                class="breadcrumb-item active bc-item"
                aria-current="page"
            >
                Projetos
            </li>
        </ol>
    </nav>
    <!-- Breadcrumb menu -->

    <!-- Projetos Ativos -->
    <h2 class="text-center section-titulo">PROJETOS</h2>
    <h3 class="text-center subtitulo">Conheça os projetos ativos</h3>
    <div class="container">
        <div class="col-12 mt-3">
            <div class="card card-responsivo-main">
                <div class="card-horizontal">
                    <div class="row card-row">
                        <div class="col-md-4 text-center">
                            <img
                                src="assets/img/perfil_parlamentar.png"
                                class="card-img w-80"
                            >
                        </div>
                        <div class="col-md-8 px-3 card-body card-borda">
                            <div class="card-block px-3">
                                <h4 class="card-title card-titulo">PERFIL PARLAMENTAR</h4>
                                <p class="card-text card-texto">
                                    A plataforma apresenta cruzamentos de bases de dados que revelam informações sobre quem são os deputados federais e senadores, como se posicionam nas votações e quais os seus vínculos e afinidades políticas e econômicas dentro e fora do Legislativo. Além de consulta individual, é possível ter uma visão geral das duas Casas Legislativas.
                                </p>
                                <div class="text-right">
                                    <a
                                        href="https://perfil.parlametria.org/"
                                        class="btn btn-acessar text-right"
                                        target="_blank"
                                    >
                                        ACESSAR
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 mt-3">
            <div class="card card-responsivo-main">
                <div class="card-horizontal">
                    <div class="row card-row">
                        <div class="col-md-4 text-center">
                            <img
                                src="assets/img/leggo.png"
                                class="card-img w-80"
                            >
                        </div>
                        <div class="col-md-8 px-3 card-body card-borda">
                            <div class="card-block px-3">
                                <h4 class="card-title card-titulo">LEG.GO</h4>
                                <p class="card-text card-texto">
                                    No Leg.go, o foco são as proposições. Para isso, utilizamos o aprendizado de máquina e a ciência de dados para coletar informações da Câmara dos Deputados e do Senado Federal. Com isso, identificamos a temperatura das proposições, o que tramita com mais energia, como o conteúdo dos projetos é alterado e quem são os atores importantes nesse processo.
                                </p>
                                <div class="text-right">
                                    <a
                                        href="https://leggo.parlametria.org/"
                                        class="btn btn-acessar text-right"
                                        target="_blank"
                                    >
                                        ACESSAR
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card responsivo tela 766px -->
        <div class="card card-responsivo-media text-left mt-3">
            <img
                src="assets/img/perfil_parlamentar.png"
                class="card-img-top card-img-responsivo"
            >
            <div class="card-body">
                <h5 class="card-title card-titulo">PERFIL PARLAMENTAR</h5>
                <p class="card-text card-texto">
                    A plataforma apresenta cruzamentos de bases de dados que revelam informações sobre quem são os deputados federais e senadores, como se posicionam nas votações e quais os seus vínculos e afinidades políticas e econômicas dentro e fora do Legislativo. Além de consulta individual, é possível ter uma visão geral das duas Casas Legislativas.
                </p>
                <div class="text-center">
                    <a
                        href="https://perfil.parlametria.org/"
                        class="btn btn-acessar text-right"
                        target="_blank"
                    >
                        ACESSAR
                    </a>
                </div>
            </div>
        </div>

        <div class="card card-responsivo-media text-left  mt-3">
            <img
                src="assets/img/leggo.png"
                class="card-img-top card-img-responsivo"
            >
            <div class="card-body">
                <h5 class="card-title card-titulo">LEG.GO</h5>
                <p class="card-text card-texto">
                    No Leg.go, o foco são as proposições. Para isso, utilizamos o aprendizado de máquina e a ciência de dados para coletar informações da Câmara dos Deputados e do Senado Federal. Com isso, identificamos a temperatura das proposições, o que tramita com mais energia, como o conteúdo dos projetos é alterado e quem são os atores importantes nesse processo.
                </p>
                <div class="text-center">
                    <a
                        href="https://leggo.parlametria.org/"
                        class="btn btn-acessar text-right"
                        target="_blank"
                    >
                        ACESSAR
                    </a>
                </div>
            </div>
        </div>
        <!-- Card responsivo tela 766px -->
    </div>

    <!-- Projetos Ativos -->

    <!-- Histórico de projetos -->
    <h2 class="text-center subtitulo">Histórico de projetos</h2>
    <div class="container">
        <div class="col-12 mt-3">
            <div class="card card-responsivo-main">
                <div class="card-horizontal">
                    <div class="row card-row">
                        <div class="col-md-4 text-center">
                            <img
                                src="assets/img/vozativa.png"
                                class="card-img w-80"
                            >
                        </div>
                        <div class="col-md-8 px-3 card-body card-borda">
                            <div class="card-block px-3">
                                <h4 class="card-title card-titulo">VOZ ATIVA</h4>
                                <p class="card-text card-texto">
                                    Voz ativa quer te ajudar a acompanhar o posicionamento da Câmara dos Deputados a partir de temas de fundamental importância para o Brasil.
                                </p>
                                <div class="text-right">
                                    <a
                                        href="https://vozativa.org/"
                                        class="btn btn-acessar text-right"
                                        target="_blank"
                                    >
                                        ACESSAR
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 mt-3">
            <div class="card card-responsivo-main">
                <div class="card-horizontal">
                    <div class="row card-row">
                        <div class="col-md-4 text-center">
                            <img
                                src="assets/img/perfilpolitico.png"
                                class="card-img w-80"
                            >
                        </div>
                        <div class="col-md-8 px-3 card-body card-borda">
                            <div class="card-block px-3">
                                <h4 class="card-title card-titulo">PERFIL POLÍTICO</h4>
                                <p class="card-text card-texto">
                                    Perfil Político é uma plataforma para comparar e conhecer o histórico dos milhares de candidatos às eleições. A ferramenta ajuda as pessoas a selecionar perfis de candidatos: você pode filtrar por novatos e por velhos políticos. Pode ver como o seu estado está em termos de representatividade de gênero e raça – e se as candidaturas, de fato, representam você.
                                </p>
                                <div class="text-right">
                                    <a
                                        href="https://perfilpolitico.serenata.ai/"
                                        class="btn btn-acessar text-right"
                                        target="_blank"
                                    >
                                        ACESSAR
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card responsivo tela 766px -->
        <div class="card card-responsivo-media text-left mt-3">
            <img
                src="assets/img/vozativa.png"
                class="card-img-top card-img-responsivo"
            >
            <div class="card-body">
                <h5 class="card-title card-titulo">VOZ ATIVA</h5>
                <p class="card-text card-texto">
                    Voz ativa quer te ajudar a acompanhar o posicionamento da Câmara dos Deputados a partir de temas de fundamental importância para o Brasil.
                </p>
                <div class="text-center">
                    <a
                        href="https://vozativa.org/"
                        class="btn btn-acessar text-right"
                        target="_blank"
                    >
                        ACESSAR
                    </a>
                </div>
            </div>
        </div>
        <div class="card card-responsivo-media text-left  mt-3">
            <img
                src="assets/img/perfilpolitico.png"
                class="card-img-top card-img-responsivo"
            >
            <div class="card-body">
                <h5 class="card-title card-titulo">PERFIL POLÍTICO</h5>
                <p class="card-text card-texto">
                    Perfil Político é uma plataforma para comparar e conhecer o histórico dos milhares de candidatos às eleições. A ferramenta ajuda as pessoas a selecionar perfis de candidatos: você pode filtrar por novatos e por velhos políticos. Pode ver como o seu estado está em termos de representatividade de gênero e raça – e se as candidaturas, de fato, representam você.
                </p>
                <div class="text-center">
                    <a
                        href="https://perfilpolitico.serenata.ai/"
                        class="btn btn-acessar text-right"
                        target="_blank"
                    >
                        ACESSAR
                    </a>
                </div>
            </div>
        </div>
        <!-- Card responsivo tela 766px -->
    </div>
    <!-- Histórico de projetos -->

</div>
