<div class="projetos-module">
        <div class="navigation text-left">HOME>PROJETOS</div>              
        
<!-- Projetos Ativos -->
<h2 class="text-center">Conheça os projetos ativos</h2>   
        <div class="row module-row">
            <div class="col-12 mt-3">
                <div class="card">
                    <div class="card-horizontal">
                        <div class="img-square-wrapper">
                            <img class="card-img" src="assets/img/perfil_parlamentar_logo.png" alt="">
                        </div>
                        <div class="vertical-lign"></div>
                        <div class="card-body">
                            <h4 class="card-title text-left">PERFIL PARLAMENTAR</h4>
                            <p class="card-text text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                                pretium, neque nec sodales auctor, felis libero efficitur erat, vitae
                                consectetur odio mi mollis lacus. Quisque tempor sagittis tellus ac
                                pretium. Fusce mattis eros vel mi sagittis, et tincidunt arcu pharetra.
                                Fusce vitae consectetur turpis, non blandit arcu.</p>
                           <div class="text-right">
                             <a href="" class="btn btn-acessar text-right">ACESSAR</a>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row module-row">
            <div class="col-12 mt-3">
                <div class="card">
                    <div class="card-horizontal">
                        <div class="img-square-wrapper">
                            <img class="card-img" src="assets/img/leggo.png" alt="">
                        </div>
                        <div class="vertical-lign"></div>
                        <div class="card-body">
                            <h4 class="card-title text-left">LEG.GO</h4>
                            <p class="card-text text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                                pretium, neque nec sodales auctor, felis libero efficitur erat, vitae
                                consectetur odio mi mollis lacus. Quisque tempor sagittis tellus ac
                                pretium. Fusce mattis eros vel mi sagittis, et tincidunt arcu pharetra.
                                Fusce vitae consectetur turpis, non blandit arcu.</p>
                           <div class="text-right">
                             <a href="" class="btn btn-acessar text-right">ACESSAR</a>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- Projetos Ativos -->

<!-- Histórico de projetos -->
<h2 class="text-center">Histórico de projetos</h2>  
<div class="row module-row">
    <div class="col-12 mt-3">
        <div class="card">
            <div class="card-horizontal">
                <div class="img-square-wrapper">
                    <img class="card-img" src="assets/img/perfil_parlamentar_logo.png" alt="">
                </div>
                <div class="vertical-lign"></div>
                <div class="card-body">
                    <h4 class="card-title text-left">VOZ ATIVA</h4>
                    <p class="card-text text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                        pretium, neque nec sodales auctor, felis libero efficitur erat, vitae
                        consectetur odio mi mollis lacus. Quisque tempor sagittis tellus ac
                        pretium. Fusce mattis eros vel mi sagittis, et tincidunt arcu pharetra.
                        Fusce vitae consectetur turpis, non blandit arcu.</p>
                   <div class="text-right">
                     <a href="" class="btn btn-acessar text-right">ACESSAR</a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row module-row">
    <div class="col-12 mt-3">
        <div class="card">
            <div class="card-horizontal">
                <div class="img-square-wrapper">
                    <img class="card-img" src="assets/img/leggo.png" alt="">
                </div>
                <div class="vertical-lign"></div>
                <div class="card-body">
                    <h4 class="card-title text-left">PERFIL POLÍTICO</h4>
                    <p class="card-text text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                        pretium, neque nec sodales auctor, felis libero efficitur erat, vitae
                        consectetur odio mi mollis lacus. Quisque tempor sagittis tellus ac
                        pretium. Fusce mattis eros vel mi sagittis, et tincidunt arcu pharetra.
                        Fusce vitae consectetur turpis, non blandit arcu.</p>
                   <div class="text-right">
                     <a href="" class="btn btn-acessar text-right">ACESSAR</a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Histórico de projetos -->



</div>
    
