<div class="module">

    <!-- Breadcrumb menu -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bc-navigation">
            <li class="breadcrumb-item bc-item">
                <a href="home">Home</a>
            </li>
            <li
                class="breadcrumb-item active bc-item"
                aria-current="page"
            >
                Sobre
            </li>
        </ol>
    </nav>
    <!-- Breadcrumb menu -->

    <div class="container">
        <!-- "Sobre" -->
        <div class="section-conteudo">
            <h2 class="text-center section-titulo">SOBRE</h2>
            <p class="section-texto">
                Mais de 27 mil proposições tramitam, hoje, no Congresso Nacional. Embora os sites da Câmara e do Senado apresentem informações iniciais sobre essas proposições, uma massa de informações é gerada diariamente sobre a tramitação, atuação dos parlamentares, discussões, decisões nas comissões entre outros.
            </p>
            <p class="section-texto">
                Muitas dessas informações são publicadas, mas pouco acessíveis: são dados organizados em estruturas complexas ou em formatos do tipo PDF. Essas características tornam os dados praticamente inacessíveis para máquinas (eles sequer são indexados pelos rastreadores do Google) ou dificultam e muito o acesso humano à massa de dados robusta.
            </p>
            <p class="section-texto">
                O Parlametria surgiu do esforço de organizações que trabalham com o monitoramento do legislativo para traduzir e dar sentido a essa massa de dados, de forma que a sociedade civil possa acompanhar e influenciar os debates que acontecem no Congresso Nacional.
            </p>
            <p class="section-texto">
                As ferramentas e relatórios disponíveis foram desenvolvidos em tecnologias abertas, em uma parceria da Open Knowledge Brasil, Dado Capital e o Laboratório Analytics, da Universidade Federal de Campina Grande.
            </p>
            <p class="section-texto">
                Com o Parlametria, pretendemos democratizar o acesso às tecnologias e o poder da inteligência de dados para a ação cidadã.
            </p>
            <p class="section-texto">
                Navegue pelo site e conheça as ferramentas!
            </p>

        </div>

        <!-- "Quem faz" -->
        <div class="section-conteudo">
            <h2 class="text-center section-titulo">QUEM FAZ</h2>
            <div class="section-quemfaz">
                <div class="container container-quemfaz">
                    <h4 class="card-titulo text-md-left text-center">REALIZAÇÃO</h4>
                    <div class="row">
                        <div class="col-md-4 quemfaz-img-responsivo">
                            <a
                                href="http://br.okfn.org/"
                                target="_blank"
                            >
                                <img
                                    src="assets/img/okbr-logo.png"
                                    class="logo-quemfaz"
                                    alt
                                >
                            </a>
                        </div>
                        <div class="col-md-4 quemfaz-img-responsivo">
                            <a
                                href="http://analytics.ufcg.edu.br"
                                target="_blank"
                            >
                                <img
                                    src="assets/img/lab-analytics.png"
                                    class="logo-quemfaz"
                                    alt
                                >
                            </a>
                        </div>
                        <div class="col-md-4 quemfaz-img-responsivo">
                            <a
                                href="http://dadocapital.org.br/"
                                target="_blank"
                            >
                                <img
                                    src="assets/img/dadocapital.png"
                                    class="logo-quemfaz"
                                    alt
                                >
                            </a>
                        </div>
                    </div>
                </div>

                <div class="container container-quemfaz">
                    <div class="row justify-content-start">
                        <div class="col-md-4 quemfaz-img-responsivo">
                            <h4 class="card-titulo text-md-left text-center">APOIO</h4>
                            <img
                                src="assets/img/ibjl.png"
                                class="logo-quemfaz"
                                alt
                            >
                            <a
                                href="https://www.avina.net/pt/home-por/"
                                target="_blank"
                            >
                                <img
                                    src="assets/img/logo-avina.png"
                                    class="logo-quemfaz"
                                    alt
                                >
                            </a>
                        </div>
                        <div class="col-md-4 quemfaz-img-responsivo">
                            <h4 class="card-titulo text-md-left text-center">APOIO TÉCNICO</h4>
                            <a
                                href="https://brasil.io/"
                                target="_blank"
                            >
                                <img
                                    src="assets/img/logo-brasil-io.png"
                                    class="logo-quemfaz"
                                    alt
                                >
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- "Contato" -->
        <div class="section-conteudo">
            <h2 class="text-center section-titulo">CONTATO</h2>
            <p class="section-texto">
                Se interessou pelo nosso projeto? Quer falar com os envolvidos? Tem dúvidas?
            </p>
            <p class="section-texto">
                Fale conosco:
                <a
                    href="mailto:contato@ok.org.br"
                    class="section-texto"
                >
                    <strong>contato@ok.org.br</strong>
                </a>
            </p>

        </div>

    </div>

</div>
