.section-quemfaz {
    background-color: #ffffff;
    padding: 5vh;
}

.imgs-quemfaz {
    display: flex;
    justify-content: center;
}

.logo-quemfaz {
    width: 100%;
    padding: 2vh;
}

.container-quemfaz {
    margin: 0;
}

@media (max-width: 768px) {
    .logo-quemfaz {
        width: 80%;
        padding: 5vh;
    }
}