.section-quemfaz {
    background-color: #ffffff;
    padding: 5vh;
}

.logo-quemfaz {
    width: 100%;
    padding: 2vh;
}

.container-quemfaz {
    margin: 0;
}

@media (max-width: 768px) {
    .logo-quemfaz {
        width: 80%;
        padding: 5vh;
    }

    .quemfaz-img-responsivo {
        text-align: center;
    }

    .section-texto {
        text-align: left;
    }
}