<div class="module">

<!-- Breadcrumb menu -->
  <nav aria-label="breadcrumb">
      <ol class="breadcrumb bc-navigation">
          <li class="breadcrumb-item bc-item"><a href="home">Home</a></li>
          <li class="breadcrumb-item active bc-item" aria-current="page">Sobre</li>
      </ol>
  </nav>
<!-- Breadcrumb menu -->

<div class="container-fluid">
  <!-- "Sobre" -->
  <div class="section-content">
    <h2 class="text-center section-title">SOBRE</h2> 
    <p class="section-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Quisque posuere mauris a tortor fringilla, a varius massa egestas. 
      Praesent vel lobortis lectus, quis consectetur nibh. Fusce vel sapien sem. 
      Aliquam ornare magna vel lorem lobortis, eget pretium orci congue. 
      Morbi dictum dolor urna, non scelerisque metus varius quis. 
      Duis volutpat tempor nibh id mollis. Phasellus tempor congue turpis, sollicitudin lacinia lacus ultrices sit amet. 
      Pellentesque ut congue purus. Morbi ac dolor elit. Phasellus aliquet tortor sapien, eu mattis lacus laoreet sit amet. 
      Aliquam ligula lacus, consectetur at mauris sed, mollis efficitur augue. 
    </p>
    <p class="section-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Quisque posuere mauris a tortor fringilla, a varius massa egestas. 
      Praesent vel lobortis lectus, quis consectetur nibh. Fusce vel sapien sem. 
      Aliquam ornare magna vel lorem lobortis, eget pretium orci congue. 
      Morbi dictum dolor urna, non scelerisque metus varius quis. 
      Duis volutpat tempor nibh id mollis. Phasellus tempor congue turpis, sollicitudin lacinia lacus ultrices sit amet. 
      Pellentesque ut congue purus. Morbi ac dolor elit. Phasellus aliquet tortor sapien, eu mattis lacus laoreet sit amet. 
      Aliquam ligula lacus, consectetur at mauris sed, mollis efficitur augue. 
    </p>
  </div>

<!--"Quem faz" -->
<div class="section-content">
  <h2 class="text-center section-title">QUEM FAZ</h2>
  <div class="section-quemfaz">
      <div class="container container-quemfaz">
          <h4 class="text-quemfaz">REALIZAÇÃO</h4>
          <div class="row">
            <div class="col-md">
                <img src="assets/img/dadocapital.png" class="logo-quemfaz" alt="">
            </div>
            <div class="col-md">
                <img src="assets/img/dadocapital.png" class="logo-quemfaz" alt="">
            </div>
            <div class="col-md">
                <img src="assets/img/dadocapital.png" class="logo-quemfaz" alt="">
            </div>          
          </div>
        </div>
        <div class="container container-quemfaz">
            <h4 class="text-quemfaz">APOIO</h4>
            <div class="row">
              <div class="col-md">
                  <img src="assets/img/dadocapital.png" class="logo-quemfaz" alt="">
              </div>
              <div class="col-md">
                  <img src="assets/img/dadocapital.png" class="logo-quemfaz" alt="">
              </div>
              <div class="col-md">
                  <img src="assets/img/dadocapital.png" class="logo-quemfaz" alt="">
              </div>          
            </div>
        </div>
  </div>
</div>

<!--"Contato" -->
<div class="section-content">
    <h2 class="text-center section-title">CONTATO</h2>
    <p class="section-text">Se interessou pelo nosso projeto? Quer falar com os envolvidos? Tem dúvidas?</p>
    <p class="section-text">Fale conosco: 
      <a href="mailto:contato@ok.org.br" class="section-text"><strong>contato@ok.org.br</strong></a>
    </p>
    
</div>

</div>

</div>
    