<div class="module">

    <!-- Breadcrumb menu -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bc-navigation">
            <li class="breadcrumb-item bc-item"><a href="home">Home</a></li>
            <li class="breadcrumb-item active bc-item" aria-current="page">Relatórios</li>
        </ol>
    </nav>
<!-- Breadcrumb menu -->

<!-- Relatórios -->
<h2 class="text-center section-title">RELATÓRIOS</h2> 
<div class="container-fluid row">       
        <div class="col-md-6 mt-3">
            <div class="card">
                <div class="card-horizontal">
                    <div class="row module-row">                                                  <div class="col-md px-3 card-body">                         
                            <div class="card-block px-3 ">
                                <h4 class="card-title text-left">TÍTULO DO RELATÓRIO</h4>
                                <p class="card-text text-left">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel elit bibendum, volutpat justo id, mollis lacus. Phasellus risus magna, laoreet vitae interdum eu, ullamcorper in tellus. Ut a pretium arcu. Vivamus feugiat mi in lorem ornare fermentum. Proin at accumsan sapien, et maximus ipsum. Ut bibendum ante eget volutpat sollicitudin. Nulla suscipit malesuada eros a tempor. Duis vitae elementum augue. Aliquam faucibus ligula et venenatis placerat.  
                                </p>
                                <div class="text-right">
                                    <a href class="btn btn-acessar text-right">ACESSAR</a>
                                </div>
                            </div>
                        </div>        
                    </div>
                </div>
            </div>            
        </div>

        <div class="col-md-6 mt-3">
                <div class="card">
                    <div class="card-horizontal">
                        <div class="row module-row">                                 
                            <div class="col-md px-3 card-body">                              
                                <div class="card-block px-3">
                                    <h4 class="card-title text-left">TÍTULO DO RELATÓRIO</h4>
                                    <p class="card-text text-left">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel elit bibendum, volutpat justo id, mollis lacus. Phasellus risus magna, laoreet vitae interdum eu, ullamcorper in tellus. Ut a pretium arcu. Vivamus feugiat mi in lorem ornare fermentum. Proin at accumsan sapien, et maximus ipsum. Ut bibendum ante eget volutpat sollicitudin. Nulla suscipit malesuada eros a tempor. Duis vitae elementum augue. Aliquam faucibus ligula et venenatis placerat. 
                                    </p>
                                    <div class="text-right">
                                        <a href class="btn btn-acessar text-right">ACESSAR</a>
                                    </div>
                                </div>
                            </div>        
                        </div>
                    </div>
                </div>            
            </div>
    </div>
<!-- Relatórios -->

</div>

