<div class="module">

<!-- Breadcrumb menu -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bc-navigation">
            <li class="breadcrumb-item bc-item"><a href="home">Home</a></li>
            <li class="breadcrumb-item active bc-item" aria-current="page">Relatórios</li>
        </ol>
    </nav>
<!-- Breadcrumb menu -->

<!-- Relatórios -->
    <h2 class="text-center section-title">RELATÓRIOS</h2> 
    <div class="container-fluid row relatorios-row">              
            <div class="col-md-6 mt-3">
                <div class="card text-left">            
                    <div class="card-body">
                    <h5 class="card-title parlametria-card-title">Relatório #1: DADOS (MAIS) ABERTOS NO CONGRESSO</h5>
                    <p class="card-text parlametria-card-text">O relatório é fruto de mapeamento realizado pela equipe do Parlametria nas APIs e portais de dados abertos da Câmara dos Deputados e Senado Federal, nos últimos meses, e de uma chamada a críticas e sugestões de vários atores da comunidade de usuários dessas APIs. O mapeamento realizado pelo Parlametria identificou 19 Barreiras de Dados do Congresso Nacional, que podem estar associadas à Câmara dos Deputados, ao Senado Federal ou a ambas as casas. O objetivo principal é sugerir e estimular que os chefes das duas Casas legislativas adotem medidas o quanto antes para sanar os pontos identificados.</p>
                    <div class="text-right">
                    <a
                    href="https://perfil.parlametria.org/"
                    class="btn btn-acessar text-right"
                    target="_blank"
                    >
                    ACESSAR
                    </a>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-3">
            <div class="card text-left">            
                <div class="card-body">
                <h5 class="card-title parlametria-card-title">Relatório #2: A PRESENÇA DE SETORES ECONÔMICOS NO PARLAMENTO</h5>
                <p class="card-text parlametria-card-text">Fique de olho! Nos próximos dias, o Parlametria lança seu próximo relatório apresentando dados que mostram as conexões entre alguns setores econômicos e os parlamentares. As análises são fruto do cruzamento de diversas fontes de dados. Não deixe de acompanhar.</p>
                <div class="text-right">
                <!-- <a
                href=""
                class="btn btn-acessar text-right"
                target="_blank"
                >
                ACESSAR
                </a> -->
                </div>
                </div>
            </div>
            </div>              
    </div>
<!-- Relatórios -->
</div>
