<div class="module">

    <!-- Breadcrumb menu -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bc-navigation">
            <li class="breadcrumb-item bc-item"><a href="home">Home</a></li>
            <li class="breadcrumb-item active bc-item" aria-current="page">Relatórios</li>
        </ol>
    </nav>
<!-- Breadcrumb menu -->

<!-- Relatórios -->
<h2 class="text-center section-title">RELATÓRIOS</h2> 
<div class="container-fluid row">       
        <div class="col-md-6 mt-3">
            <div class="card">
                <div class="card-horizontal">
                    <div class="row module-row">                                                  
                        <div class="col-md px-3 card-body">                         
                            <div class="card-block px-3 ">
                                <h4 class="card-title text-left">DADOS (MAIS) ABERTOS NO CONGRESSO</h4>
                                <p class="card-text text-left">
                                        O relatório é fruto de mapeamento realizado pela equipe do Parlametria nas APIs e portais de dados abertos da Câmara dos Deputados e Senado Federal, nos últimos meses, e de uma chamada a críticas e sugestões de vários atores da comunidade de usuários dessas APIs. O mapeamento realizado pelo Parlametria identificou 19 Barreiras de Dados do Congresso Nacional, que podem estar associadas à Câmara dos Deputados, ao Senado Federal ou a ambas as casas. O objetivo principal é sugerir e estimular que os chefes das duas Casas legislativas adotem medidas o quanto antes para sanar os pontos identificados.                                </p>
                                <div class="text-right">
                                    <a href class="btn btn-acessar text-right">ACESSAR</a>
                                </div>
                            </div>
                        </div>        
                    </div>
                </div>
            </div>            
        </div>

        <div class="col-md-6 mt-3">
                <div class="card">
                    <div class="card-horizontal">
                        <div class="row module-row">                                 
                            <div class="col-md px-3 card-body">                              
                                <div class="card-block px-3">
                                    <h4 class="card-title text-left">TÍTULO DO RELATÓRIO</h4>
                                    <p class="card-text text-left">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel elit bibendum, volutpat justo id, mollis lacus. Phasellus risus magna, laoreet vitae interdum eu, ullamcorper in tellus. Ut a pretium arcu. Vivamus feugiat mi in lorem ornare fermentum. Proin at accumsan sapien, et maximus ipsum. Ut bibendum ante eget volutpat sollicitudin. Nulla suscipit malesuada eros a tempor. Duis vitae elementum augue. Aliquam faucibus ligula et venenatis placerat. 
                                    </p>
                                    <div class="text-right">
                                        <a href class="btn btn-acessar text-right">ACESSAR</a>
                                    </div>
                                </div>
                            </div>        
                        </div>
                    </div>
                </div>            
            </div>
    </div>
<!-- Relatórios -->
</div>

<!-- Página de relatório -->
<div class="module">

    <!-- Breadcrumb menu -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bc-navigation">
            <li class="breadcrumb-item bc-item"><a href="home">Home</a></li>
            <li class="breadcrumb-item bc-item"><a href="home">Relatórios</a></li>
            <li class="breadcrumb-item active bc-item" aria-current="page">Relatório XPTO</li>
        </ol>
    </nav>
<!-- Breadcrumb menu -->

<!-- Conteúdo do relatório -->    
    <div class="container-fluid">       
        <div class="section-content">
            <h2 class="text-center section-title">TÍTULO DO RELATÓRIO</h2>
            <div class="section-relatorio">
                <div class="container container-relatorio">
                    <h4 class="title-relatorio-content">LOREM IPSUM</h4>
                    <p class="section-text relatorio-text">

                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In interdum pharetra quam, quis suscipit massa eleifend vitae. Ut eleifend fringilla metus, sed lobortis quam posuere ac. Mauris eu nunc in magna ornare convallis. Integer sagittis porta dui, at cursus nibh pulvinar vitae. Nunc fringilla tristique erat quis dignissim. Praesent maximus semper diam eget ultricies. Proin bibendum dapibus consequat. Integer scelerisque, sem ac rhoncus vehicula, lacus justo lacinia orci, vel consequat nunc nulla id ligula.
                            
                            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam tincidunt nisi aliquet nibh condimentum, vel volutpat nibh blandit. Sed at nisl vel velit sodales aliquet vel in sem. Sed malesuada suscipit semper. Nam eu consequat lacus. Fusce volutpat congue arcu, nec euismod nulla feugiat a. Sed ligula nibh, tristique in vehicula sed, venenatis ut arcu. Morbi quis purus et tellus pulvinar sodales at a urna. Ut ullamcorper tempor congue. Nunc in ornare risus. Proin lectus ex, feugiat et enim ac, euismod mattis justo. Aenean venenatis magna id tellus blandit tincidunt. Sed id nulla tempor, porttitor massa ut, sagittis elit. Suspendisse turpis neque, auctor eu erat nec, finibus tristique felis. Etiam a sagittis lacus.
                            
                            Pellentesque at iaculis risus. Vestibulum a cursus ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis porttitor erat enim, eget sagittis risus laoreet at. Donec et dolor molestie, euismod urna quis, aliquam arcu. Etiam at nulla at nisi ullamcorper facilisis. Donec molestie egestas pretium.
                            
                            Duis tempor elit et nisl congue, vitae congue leo sagittis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras bibendum consequat fringilla. Etiam quis semper lacus. Suspendisse a risus diam. In a elementum tortor, nec commodo mauris. Vestibulum fringilla orci a viverra fringilla. Etiam dictum arcu mollis efficitur pharetra. Aenean in pretium eros. Nulla condimentum, lectus ac mattis mollis, leo mauris dictum mauris, non consectetur arcu erat at velit. Curabitur aliquet rhoncus dui ac sollicitudin. Sed at posuere mauris.
                            
                            Mauris suscipit dignissim mauris a sagittis. Donec sagittis tempus iaculis. Ut quis porttitor ipsum. Vivamus a volutpat ipsum, sed posuere sapien. Sed congue ultrices urna, non auctor ex finibus vitae. Pellentesque sit amet odio ornare, egestas enim at, mollis mi. Fusce at vestibulum ipsum. Etiam sed felis consectetur massa gravida mattis sed sed neque. </p>
                </div>
            </div>
        </div>            
    </div>


</div>

