.navbar-home {
  background-color: #f3f4f5;
  border-bottom: 2px solid #6842a3;
}

.nav-link-home {
  font-weight: 400;
  text-transform: uppercase;
}

.nav-link-home:link,
.nav-link-home:visited {
  color: #6842a3;
}
