.section-namidia {
    background-color: #ffffff;
    padding: 5vh;   
}

.container-namidia {
    margin: 0;
}

// Card geral
.card-titulo {
    color: #ffffff;
    line-height: 2.5rem;
}

//Card roxo
.card-namidia-roxo {
    border: solid #6842a3;
    border-width: none;
    padding-top: 0;
}

.span-namidia-roxo {
    background-color: #6842a3;    
}

.data-namidia-roxo, .data-namidia-verde {     
    padding-top: 0.5rem;    
    margin-bottom: 0;
    color: #6842a3;
}

//Card verde
.card-namidia-verde {
    border: solid #9cdb52;
    border-width: none;
    padding-top: 0;
}

.span-namidia-verde {
    background-color: #9cdb52;    
}

.data-namidia-verde {
   color: #9cdb52;
}

.btn-verde {
    border: 2px solid #9cdb52a6;
    color: #9cdb52;
}

.btn-verde:hover{
    background-color: #9cdb52;
    color: #ffffff;
}

// Botão Ler
.btn-ler {
    margin: 0;
    padding-left: 5vh;
    padding-right: 5vh;
}

@media (max-width: 768px) {
    .btn-ler {
        margin-top: 2vh;
    }
}