<div class="module">

    <!-- Breadcrumb menu -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bc-navigation">
        <li class="breadcrumb-item bc-item"><a href="home">Home</a></li>
        <li class="breadcrumb-item active bc-item" aria-current="page">Na mídia</li>
      </ol>
    </nav>
    <!-- Breadcrumb menu -->

    <h2 class="text-center section-title">NA MÍDIA</h2>
    <div class="container-fluid row namidia-card">       
        <div class="col-md-6 namidia-col">
            <div class="card">
                <div class="card-horizontal">
                    <div class="row module-row">                                                  
                        <img src="assets/img/namidia_1.png" class="namidia-img" alt="">
                        </div>        
                        <a href="https://www1.folha.uol.com.br/colunas/monicabergamo/2019/11/cidadao-encontra-pelo-menos-19-barreiras-para-acessar-dados-sobre-congresso.shtml" class="stretched-link" target="_blank"></a>
                    </div>
                </div>
            </div>  
            <div class="col-md-6">
                <div class="card">
                    <div class="card-horizontal">
                        <div class="row module-row">                                                  
                            <img src="assets/img/namidia_2.png" class="namidia-img" alt="">
                            </div>        
                            <a href="https://valor.globo.com/politica/coluna/mudou-mas-continuou-quase-igual.ghtml" class="stretched-link" target="_blank"></a>
                        </div>
                    </div>
                </div>               
        </div>


</div>