<div class="module">

    <!-- Breadcrumb menu -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bc-navigation">
            <li class="breadcrumb-item bc-item">
                <a href="home">Home</a>
            </li>
            <li
                class="breadcrumb-item active bc-item"
                aria-current="page"
            >
                Na mídia
            </li>
        </ol>
    </nav>
    <!-- Breadcrumb menu -->

    <h2 class="text-center section-titulo">NA MÍDIA</h2>
    <div class="section-namidia">
            <div class="container">
                    <div class="card mb-3"> 
                            <div class="data-namidia-roxo text-uppercase position-absolute"><p class="card-text card-texto font-weight-bold">26.novembro.2019</p></div>                       
                        <div class="card-body card-namidia-roxo">                            
                            <h5 class="card-title card-titulo text-md-left text-center text-uppercase"><span class="span-namidia-roxo">
                                Cidadão encontra pelo menos 19 barreiras para acessar dados sobre Congresso
                            </span></h5>
                            <div class="d-md-flex justify-content-between">
                                <div>
                                <p class="card-text card-texto text-md-left text-center font-weight-bold">
                                    Mônica Bergamo
                                </p>
                                <p class="card-text card-texto text-md-left text-center font-weight-bold">
                                    Folha de S. Paulo
                                </p>
                            </div>
                                <div class="text-md-right text-center align-self-end">
                                    <a
                                        href="https://www1.folha.uol.com.br/colunas/monicabergamo/2019/11/cidadao-encontra-pelo-menos-19-barreiras-para-acessar-dados-sobre-congresso.shtml"
                                        class="btn btn-acessar btn-ler text-right"
                                        target="_blank"
                                    >
                                        LER
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-3"> 
                            <div class="data-namidia-verde text-uppercase position-absolute">
                                <p class="card-text card-texto font-weight-bold">25.novembro.2019</p>
                            </div>                       
                        <div class="card-body card-namidia-verde">                            
                            <h5 class="card-title card-titulo text-md-left text-center text-uppercase"><span class="span-namidia-verde">
                                Mudou, mas continuou quase igual
                            </span></h5>
                            <div class="d-md-flex justify-content-between">
                                <div>
                                    <p class="card-text card-texto text-md-left text-center font-weight-bold">
                                        Bruno Carazza
                                    </p>
                                <p class="card-text card-texto text-md-left text-center font-weight-bold">
                                    Valor Econômico
                                </p>
                            </div>
                                <div class="text-md-right text-center align-self-end">
                                    <a
                                        href="https://valor.globo.com/politica/coluna/mudou-mas-continuou-quase-igual.ghtml"
                                        class="btn btn-acessar btn-ler btn-verde text-right"
                                        target="_blank"
                                    >
                                        LER
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>             
    </div>   
</div>
