<div class="module">

    <!-- Breadcrumb menu -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bc-navigation">
            <li class="breadcrumb-item bc-item">
                <a href="home">Home</a>
            </li>
            <li
                class="breadcrumb-item active bc-item"
                aria-current="page"
            >
                Na mídia
            </li>
        </ol>
    </nav>
    <!-- Breadcrumb menu -->

    <!-- Na Mídia -->
    <div class="container">
        <h2 class="text-center section-titulo">NA MÍDIA</h2>
        <div class="section-namidia">              

             <!-- Notícia em verde -->
             <div class="card mb-3">                
                <div class="card-body card-namidia-verde">
                        <p class="card-text card-texto text-md-left text-center text-uppercase font-weight-bold data-namidia-verde">06.janeiro.2020</p>
                    <h5 class="card-title card-titulo text-md-left text-center text-uppercase">
                        <span class="span-namidia-verde">
                            Partidos revelam coesão na Câmara em ano de crise na articulação do governo
                        </span>
                    </h5>
                    <div class="d-md-flex justify-content-between">
                        <div>
                            <p class="card-text card-texto text-md-left text-center font-weight-bold">Ricardo Mendonça</p>
                            <p class="card-text card-texto text-md-left text-center font-weight-bold">Valor Econômico</p>
                        </div>
                        <div class="text-md-right text-center align-self-end">
                            <a
                                href="https://valor.globo.com/politica/noticia/2020/01/06/partidos-revelam-coesao-na-camara-em-ano-de-crise-na-articulacao-do-governo.ghtml"
                                class="btn btn-acessar btn-ler btn-verde text-right"
                                target="_blank"
                            >
                                LER
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Notícia em verde -->

            <!-- Notícia em roxo -->
            <div class="card mb-3">
                <div class="card-body card-namidia-roxo">                    
                        <p class="card-text card-texto text-md-left text-center text-uppercase font-weight-bold data-namidia-roxo">08.dezembro.2019</p>
                        <h5 class="card-title card-titulo text-md-left text-center text-uppercase">
                            <span class="span-namidia-roxo">
                                    'Parlametria': 90% dos deputados federais eleitos em 2018 receberam doações de empresários
                            </span>
                        </h5>
                        <div class="d-md-flex justify-content-between">
                            <div>
                                <p class="card-text card-texto text-md-left text-center font-weight-bold"></p>
                                <p class="card-text card-texto text-md-left text-center font-weight-bold">G1 Paraíba</p>
                            </div>
                            <div class="text-md-right text-center align-self-end">
                                <a
                                    href="https://g1.globo.com/pb/paraiba/noticia/2019/12/08/parlametria-90percent-dos-deputados-federais-eleitos-em-2018-receberam-doacoes-de-empresarios.ghtml"
                                    class="btn btn-acessar btn-ler text-right"
                                    target="_blank"
                                >
                                    LER
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Notícia em roxo -->           
            
                <!-- Notícia em verde -->
            <div class="card mb-3">                
                <div class="card-body card-namidia-verde">
                        <p class="card-text card-texto text-md-left text-center text-uppercase font-weight-bold data-namidia-verde">02.dezembro.2019</p>
                    <h5 class="card-title card-titulo text-md-left text-center text-uppercase">
                        <span class="span-namidia-verde">
                            Doações de empresários chegaram a 90% dos deputados, diz estudo
                        </span>
                    </h5>
                    <div class="d-md-flex justify-content-between">
                        <div>
                            <p class="card-text card-texto text-md-left text-center font-weight-bold">Maiá Menezes</p>
                            <p class="card-text card-texto text-md-left text-center font-weight-bold">O Globo</p>
                        </div>
                        <div class="text-md-right text-center align-self-end">
                            <a
                                href="https://oglobo.globo.com/brasil/doacoes-de-empresarios-chegaram-90-dos-deputados-diz-estudo-24112316"
                                class="btn btn-acessar btn-ler btn-verde text-right"
                                target="_blank"
                            >
                                LER
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Notícia em verde -->

            <!-- Notícia em roxo -->
            <div class="card mb-3">
                    <div class="card-body card-namidia-roxo">                    
                            <p class="card-text card-texto text-md-left text-center text-uppercase font-weight-bold data-namidia-roxo">29.novembro.2019</p>
                    <h5 class="card-title card-titulo text-md-left text-center text-uppercase">
                        <span class="span-namidia-roxo">
                            Ranking do bolsonarismo: saiba quais são os deputados mais governistas do Paraná
                        </span>
                    </h5>
                    <div class="d-md-flex justify-content-between">
                        <div>
                            <p class="card-text card-texto text-md-left text-center font-weight-bold">João Frey</p>
                            <p class="card-text card-texto text-md-left text-center font-weight-bold">Gazeta do Povo</p>
                        </div>
                        <div class="text-md-right text-center align-self-end">
                            <a
                                href="https://www.gazetadopovo.com.br/vozes/joao-frey/deputados-governistas-parana/"
                                class="btn btn-acessar btn-ler text-right"
                                target="_blank"
                            >
                                LER
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Notícia em roxo -->

            <!-- Notícia em verde -->
            <div class="card mb-3">
                <div class="card-body card-namidia-verde">
                        <p class="card-text card-texto text-md-left text-center text-uppercase font-weight-bold data-namidia-verde">28.novembro.2019</p>
                    <h5 class="card-title card-titulo text-md-left text-center text-uppercase">
                        <span class="span-namidia-verde">
                            Estudo mostra qual o senador do Paraná mais alinhado ao governo Bolsonaro
                        </span>
                    </h5>
                    <div class="d-md-flex justify-content-between">
                        <div>
                            <p class="card-text card-texto text-md-left text-center font-weight-bold">João Frey</p>
                            <p class="card-text card-texto text-md-left text-center font-weight-bold">Gazeta do Povo</p>
                        </div>
                        <div class="text-md-right text-center align-self-end">
                            <a
                                href="https://www.gazetadopovo.com.br/vozes/joao-frey/senadores-parana-alinhamento-governo/"
                                class="btn btn-acessar btn-ler btn-verde text-right"
                                target="_blank"
                            >
                                LER
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Notícia em verde -->

            <!-- Notícia em roxo -->
            <div class="card mb-3">
                    <div class="card-body card-namidia-roxo">                    
                            <p class="card-text card-texto text-md-left text-center text-uppercase font-weight-bold data-namidia-roxo">26.novembro.2019</p>
                    <h5 class="card-title card-titulo text-md-left text-center text-uppercase">
                        <span class="span-namidia-roxo">
                            Cidadão encontra pelo menos 19 barreiras para acessar dados sobre Congresso
                        </span>
                    </h5>
                    <div class="d-md-flex justify-content-between">
                        <div>
                            <p class="card-text card-texto text-md-left text-center font-weight-bold">Mônica Bergamo</p>
                            <p class="card-text card-texto text-md-left text-center font-weight-bold">Folha de S. Paulo</p>
                        </div>
                        <div class="text-md-right text-center align-self-end">
                            <a
                                href="https://www1.folha.uol.com.br/colunas/monicabergamo/2019/11/cidadao-encontra-pelo-menos-19-barreiras-para-acessar-dados-sobre-congresso.shtml"
                                class="btn btn-acessar btn-ler text-right"
                                target="_blank"
                            >
                                LER
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Notícia em roxo -->

            <!-- Notícia em verde -->
            <div class="card mb-3">
                    <div class="card-body card-namidia-verde">
                            <p class="card-text card-texto text-md-left text-center text-uppercase font-weight-bold data-namidia-verde">25.novembro.2019</p>
                    <h5 class="card-title card-titulo text-md-left text-center text-uppercase">
                        <span class="span-namidia-verde">Mudou, mas continuou quase igual</span>
                    </h5>
                    <div class="d-md-flex justify-content-between">
                        <div>
                            <p class="card-text card-texto text-md-left text-center font-weight-bold">Bruno Carazza</p>
                            <p class="card-text card-texto text-md-left text-center font-weight-bold">Valor Econômico</p>
                        </div>
                        <div class="text-md-right text-center align-self-end">
                            <a
                                href="https://valor.globo.com/politica/coluna/mudou-mas-continuou-quase-igual.ghtml"
                                class="btn btn-acessar btn-ler btn-verde text-right"
                                target="_blank"
                            >
                                LER
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Notícia em verde -->
        </div>
    </div>
</div>
