.namidia-card {
    justify-content: center;
}

.module-row {
    justify-content: center;
}
.namidia-img {
    max-width: 80%;
}

@media (max-width: 768px) {
    .namidia-col {
        margin-bottom: 5vh;
    }
}