<!-- Navbar -->
<app-navbar></app-navbar>

<div>
  <router-outlet></router-outlet>
</div>

<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-6">

        <div class="footer-titulo text-md-left">REALIZAÇÃO</div>
        <div class="row no-gutters d-flex footer-logos-responsivo align-items-center">
          <div class="col-8 col-md-4">
            <a href="http://br.okfn.org/" target="_blank">
              <img
                src="/assets/img/logo-okbr.png"
                alt="Open Knowledge Brasil"
                width="100%"
              >
            </a>
          </div>
          <div class="col-8 col-md-4">
            <a href="http://analytics.ufcg.edu.br" target="_blank">
              <img
                src="/assets/img/logo-lab-analytics.png"
                alt="LAB Analytics"
                width="100%"
              >
            </a>
          </div>
          <div class="col-8 col-md-4">
            <a href="http://dadocapital.org.br/" target="_blank">
              <img
                src="/assets/img/logo-dado-capital.png"
                alt="Dado Capital"
                width="100%"
              >
            </a>
          </div>
        </div>

          <div class="footer-titulo text-md-left">APOIO</div>
          <div class="row no-gutters d-flex footer-logos-responsivo align-items-center text-center">
          <div class="col-8 col-md-4">
                <a href="https://www.avina.net/pt/home-por/" target="_blank">
                    <img
                        src="assets/img/logo-fundacao-avina.png"
                        alt="Fundação Avina"
                        width="100%"
                    >
                </a>
              </div>
              <div class="col-8 col-md-4">
                <img
                      src="/assets/img/ibjl_logo.jpg"
                      alt="Instituto Betty & Jacob Lafer"
                      width="70%"
                >
                </div>
              <div class="col-8 col-md-4">
              <a href="https://www.laudesfoundation.org/br" target="_blank">
                <img
                    src="assets/img/logo-laudes-foundation.png"
                    alt="Laudes Foundation"
                    width="100%"
                >
            </a>
          </div>
            </div>
      </div>

      <div class="col-md-2 text-md-right">
        <ul class="list-unstyled">
          <li>
            <a
              routerLink="/projetos"
              class="footer-texto"
            >
              Projetos
            </a>
          </li>
          <li>
            <a
              routerLink="/relatorios"
              class="footer-texto"
            >
              Relatórios
            </a>
          </li>
          <li>
            <a
              routerLink="/namidia"
              class="footer-texto"
            >
              Na mídia
            </a>
          </li>
          <li>
            <a
              routerLink="/sobre"
              class="footer-texto"
            >
              Sobre
            </a>
          </li>
          <!-- <li>
            <a
              routerLink="/blog"
              class="footer-texto"
            >
              Blog
            </a>
          </li> -->
        </ul>
      </div>
      <div class="col-md-4 text-md-right">
        <ul class="list-unstyled">
          <li>
            <a
              href="mailto:dadocapital@dadocapital.org.br"
              class="footer-texto"
            >
              dadocapital@dadocapital.org.br
            </a>
          </li>
          <li>
            <a
              href="http://br.okfn.org"
              class="footer-texto"
              target="_blank"
            >
              br.okfn.org
            </a>
          </li>
          <li>
            <a
              href="https://github.com/parlametria"
              class="footer-texto"
              target="_blank"
            >
              Parlametria no Github
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-creative-commons">
      <a rel="license" href="https://creativecommons.org/licenses/by/4.0"><img class="img-creative-commons" alt="Licença Creative Commons" src="https://licensebuttons.net/l/by/4.0/88x31.png" /></a><br />Todo o conteúdo do Parlametria está disponível sob a licença <a rel="license" href="https://creativecommons.org/licenses/by/4.0">Creative Commons Atribuição 4.0 Internacional</a>, o que significa que pode ser compartilhado e reutilizado para trabalhos derivados, desde que citada a fonte. O código-fonte da plataforma também é aberto e está disponível no <a rel="license" href="https://github.com/parlametria/parlametria-site">Github</a>.
    </div>
  </div>
  <hr>
</footer>
