// Footer
.list-unstyled {
    font-weight: 300;
    font-size: 20pt;
}

.page-footer {
    background-color: #f3f4f5;
}

.footer-titulo {
    font-weight: 700;
    font-size: 15pt;
    color: #666666;
}

.col-apoio {
    padding: 0;
}

// Licença CC-BY
.footer-creative-commons {
    font-weight: 300;
    font-size: 9pt;
    color: #666666;
    text-align: center;
}

.img-creative-commons {
    border-width:0;
    max-width: 30%;
    margin: 2vh;
}


// Responsividade
@media (max-width: 768px) {
    .footer-logos-responsivo {
        justify-content: center;
    }

    .footer-titulo {
        font-size: 20pt;
    }
}