// Navbar
.navbar-home {
    background-color: #f3f4f5;
    border-bottom:2px solid #6842a3;
}

.nav-link {
    font-weight: 400;
    font-size: 20pt;
    padding: 15px;
}


.navbar-expand-md .navbar-nav .nav-link {
    color: #6842a3;
    padding: 1rem;
}
//

// Footer
.list-unstyled {
    font-weight: 300;
    font-size: 20pt;      
}
.page-footer {
    background-color: #f3f4f5;
}

.footer-text {
    color: #666666;  
}

.logo-footer {
    max-width: 50%;
}