// Navbar
.navbar {
    background-color: #f3f4f5;
    border-bottom:2px solid #6842a3;
}

.nav-link {
    font-weight: 400;
    font-size: 20pt;
    color:#6842a3;
    padding: 30px;
}
//

// Footer
.list-unstyled {
    font-weight: 300;
    font-size: 20pt;      
}
.page-footer {
    background-color: #f3f4f5;
}

.footer-text {
    color: #666666;  
}