<!-- Navbar -->
<nav class="navbar">
  <div class="container justify-content-around">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/projetos">PROJETOS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/relatorios">RELATÓRIOS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/namidia">NA MÍDIA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sobre">SOBRE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/blog">BLOG</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Header -->
<header class="masthead">
    <div class="container">
      <div class="row h-100 align-items-center">
            <img src="assets/img/logotipo.png" alt="Parlametria" 
              class="logotipo img-fluid rounded mx-auto d-block">
      </div>
    </div>
</header>



<div class="text-center">  
  <router-outlet></router-outlet>


<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4" style="background-color: #f3f4f5">
    <div class="container text-center text-md-left">
      <div class="row">  
        <div class="col-md-4 mx-auto">          
          <p>LOGOS OK, UFCG etc</p>  
        </div>
        <div class="col-md-3 mx-auto text-right">  
          <ul class="list-unstyled">
            <li>
              <a href="/projetos" class="footer-text">Projetos</a>
            </li>
            <li>
              <a href="/relatorios" class="footer-text">Relatórios</a>
            </li>
            <li>
              <a href="/namidia" class="footer-text">Na mídia</a>
            </li>
            <li>
              <a href="/sobre" class="footer-text">Sobre</a>
            </li>
            <li>
              <a href="/blog" class="footer-text">Blog</a>
            </li>
          </ul> 
        </div>
        <div class="col-md-3 mx-auto text-right">  
            <ul class="list-unstyled">
              <li>
                <a href="mailto:contato@ok.org.br" class="footer-text">contato@ok.org.br</a>
              </li>
              <li>
                <a href="http://br.okfn.org" class="footer-text">br.okfn.org</a>
              </li>
              <li>
 
            </ul> 
          </div>
      </div>
    </div>
    <hr> 
  </footer>