<div class="module">

    <!-- Breadcrumb menu -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bc-navigation">
            <li class="breadcrumb-item bc-item">
                <a routerLink="/">Home</a>
            </li>
            <li
                class="breadcrumb-item active bc-item"
                aria-current="page"
            >
                Relatórios
            </li>
        </ol>
    </nav>
    <!-- Breadcrumb menu -->
    
    <div class="container">
        <!-- Relatórios -->
        <h2 class="text-center section-titulo">RELATÓRIOS</h2>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title card-titulo">
                    Relatório #3: O Congresso na pandemia
                </h5>
                <p class="card-text card-texto">
                    Um raio-x da atuação dos deputados e dos projetos que viraram lei nos temas de saúde e educação em 2020-2021.
                </p>
                <div class="text-md-right text-center">
                    <a
                        routerLink="2022/05/o-congresso-na-pandemia"
                        class="btn btn-acessar text-right"
                    >
                        ACESSAR
                    </a>
                </div>
            </div>
        </div>


        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title card-titulo">
                    Relatório #2: Participação de Sócios de Empresas no Financiamento de Campanhas em 2018
                </h5>
                <p class="card-text card-texto">
                    O segundo relatório do Parlametria analisa os vínculos entre congressistas e os interesses econômicos daqueles que doaram para as campanhas de 2018.
                </p>
                <div class="text-md-right text-center">
                    <a
                        routerLink="2019/11/setores-economicos-na-campanha-2018"
                        class="btn btn-acessar text-right"
                    >
                        ACESSAR
                    </a>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title card-titulo">
                    Relatório #1: Dados (mais) abertos no Congresso
                </h5>
                <p class="card-text card-texto">
                    O relatório é fruto de mapeamento realizado pela equipe do Parlametria nas APIs e portais de dados abertos da Câmara dos Deputados e Senado Federal, nos últimos meses, e de uma chamada a críticas e sugestões de vários atores da comunidade de usuários dessas APIs. O mapeamento realizado pelo Parlametria identificou 19 Barreiras de Dados do Congresso Nacional, que podem estar associadas à Câmara dos Deputados, ao Senado Federal ou a ambas as casas. O objetivo principal é sugerir e estimular que os chefes das duas Casas legislativas adotem medidas o quanto antes para sanar os pontos identificados.
                </p>
                <div class="text-md-right text-center">
                    <a
                        href="assets/reports/Gargalos de Transparência de Dados no Congresso.pdf"
                        class="btn btn-acessar text-right"
                        target="_blank"
                    >
                        ACESSAR
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Relatórios -->
</div>
