<div class="module">

<!-- Breadcrumb menu -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bc-navigation">
            <li class="breadcrumb-item bc-item"><a href="home">Home</a></li>
            <li class="breadcrumb-item active bc-item" aria-current="page">Relatórios</li>
        </ol>
    </nav>
<!-- Breadcrumb menu -->

<!-- Relatórios -->
<h2 class="text-center section-title">RELATÓRIOS</h2>
<div class="container-fluid row">
        <div class="col-md-6 mt-3">
            <div class="card">
                <div class="card-horizontal">
                    <div class="row module-row">
                        <div class="col-md px-3 card-body">
                            <div class="card-block px-3 ">
                                <h4 class="card-title text-left">Relatório #1: DADOS (MAIS) ABERTOS NO CONGRESSO</h4>
                                <p class="card-text text-left">
                                        O relatório é fruto de mapeamento realizado pela equipe do Parlametria nas APIs e portais de dados abertos da Câmara dos Deputados e Senado Federal, nos últimos meses, e de uma chamada a críticas e sugestões de vários atores da comunidade de usuários dessas APIs. O mapeamento realizado pelo Parlametria identificou 19 Barreiras de Dados do Congresso Nacional, que podem estar associadas à Câmara dos Deputados, ao Senado Federal ou a ambas as casas. O objetivo principal é sugerir e estimular que os chefes das duas Casas legislativas adotem medidas o quanto antes para sanar os pontos identificados.                                </p>
                                <div class="text-right">
                                    <a href="assets/reports/Gargalos de Transparência de Dados no Congresso.pdf" target="_blank" class="btn btn-acessar text-right">ACESSAR</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 mt-3">
                <div class="card">
                    <div class="card-horizontal">
                        <div class="row module-row">
                            <div class="col-md px-3 card-body">
                                <div class="card-block px-3">
                                    <h4 class="card-title text-left">Relatório #2: A PRESENÇA DE SETORES ECONÔMICOS NO PARLAMENTO</h4>
                                    <p class="card-text text-left">
                                        Fique de olho! Nos próximos dias, o Parlametria lança seu próximo relatório apresentando dados que mostram as conexões entre alguns setores econômicos e os parlamentares. As análises são fruto do cruzamento de diversas fontes de dados. Não deixe de acompanhar.                                    </p>
                                    <!-- <div class="text-right">
                                        <a href class="btn btn-acessar text-right">ACESSAR</a>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>              
    </div>
<!-- Relatórios -->
</div>
