<div class="module">

  <!-- Breadcrumb menu -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bc-navigation">
      <li class="breadcrumb-item bc-item">
        <a routerLink="/">Home</a>
      </li>
      <li
        class="breadcrumb-item active bc-item"
        aria-current="page"
      >
        Relatórios
      </li>
    </ol>
  </nav>
  <!-- Breadcrumb menu -->

  <!-- Relatórios -->
  <h2 class="text-center section-title">Relatórios</h2>
  <div class="container">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">
          Relatório #2: A presença de setores econômicos no parlamento
        </h5>
        <p class="card-text">
          Fique de olho! Nos próximos dias, o Parlametria lança seu próximo relatório apresentando dados que mostram as conexões entre alguns setores econômicos e os parlamentares. As análises são fruto do cruzamento de diversas fontes de dados. Não deixe de acompanhar.
        </p>
        <!-- <div class="text-right">
          <a
            routerLink="2019/11/setores-economicos-na-campanha-2018"
            class="btn btn-acessar text-right"
          >
            ACESSAR
          </a>
        </div> -->
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">
          Relatório #1: Dados (mais) abertos no Congresso
        </h5>
        <p class="card-text">
          A plataforma apresenta cruzamentos de bases de dados que revelam informações sobre quem são os deputados federais e senadores, como se posicionam nas votações e quais os seus vínculos e afinidades políticas e econômicas dentro e fora do Legislativo. Além de consulta individual, é possível ter uma visão geral das duas Casas Legislativas.
        </p>
        <div class="text-right">
          <a
            href="https://perfil.parlametria.org/"
            class="btn btn-acessar text-right"
            target="_blank"
          >
            ACESSAR
          </a>
        </div>
      </div>
    </div>

  </div>
  <!-- Relatórios -->
</div>
