@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700|Libre+Baskerville:700&display=swap");
@import "../node_modules/bootstrap/scss/functions";
@import "assets/bootstrap/variables";
@import "../node_modules/bootstrap/scss/bootstrap";

@import "../node_modules/@ag-grid-community/all-modules/dist/styles/ag-grid.css";
@import "../node_modules/@ag-grid-community/all-modules/dist/styles/ag-theme-balham.css";

// Geral
body {
  min-height: 75rem;
  padding-top: 58px;
}

// Container
.module {
  background-color: $primary;
  padding-bottom: 10vh;
}

// Breadcrumb navigation
.bc-navigation {
  background-color: $primary;
}

.bc-item > a,
.bc-item.active {
  font-weight: 500;
  color: $success;
}

// Seção
.section-conteudo {
  padding-bottom: 5vh;
}

// Cards
.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.card-row {
  margin: 0;
  margin-bottom: 2vh;
  display: center;
  align-items: center;
}

.card-borda {
  border-left: 3px solid $primary;
  height: 80%;
}

.btn-acessar {
  border: 2px solid #b79fcc;
  font-weight: 700;
  font-size: 15pt;
  color: $primary;
  margin-bottom: 5vh;
}

.btn:hover {
  background-color: $primary;
  color: #ffffff;
}

// Estilização de texto
.section-titulo { //h2
  color: #ffffff;
  font-weight: 300;
  font-size: 3rem;
  padding-bottom: 2vh;
}

.section-texto { //p
  color: #ffffff;
  text-align: justify;
  font-size: 15pt;
  margin: 0.5rem;
}

.subtitulo { //h3
  font-size: 2.5rem;
  font-weight: 300;
  color:#ffffff;
  padding-top: 5vh;
  padding-bottom: 2vh;
}

.card-titulo { //h4
  font-weight: 700;
  font-size: 20pt;
  color: #666666;
}

.card-texto, .footer-texto { //p
  font-weight: 300;
  font-size: 14pt;
  color: #666666;
}

.footer-texto {
  font-size: 18pt;
}

a:focus {
  outline: none;
}

.strong {
  color: $primary;
}


// Responsividade
.card-responsivo-media {
  display: none;
}

@media (max-width: 766px) {
// Novo card
  .btn-acessar {
    margin: 0px;
  }

  .card-img-responsivo {
    padding: 1rem;
  }

  .card-responsivo-media {
    display: flex;
  }

  .card-responsivo-main {
    display: none;
  }
}