@import url("https://fonts.googleapis.com/css?family=Roboto:300,500&display=swap");

@import "../node_modules/bootstrap/scss/functions";
@import "assets/bootstrap/variables";
@import "../node_modules/bootstrap/scss/bootstrap";

a { // mudar para classe
    font-weight: 500;
}

h2{
    color: white; 
    padding:50px;
}
