@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");
@import "../node_modules/bootstrap/scss/functions";
@import "assets/bootstrap/variables";
@import "../node_modules/bootstrap/scss/bootstrap";

@import "../node_modules/@ag-grid-community/all-modules/dist/styles/ag-grid.css";
@import "../node_modules/@ag-grid-community/all-modules/dist/styles/ag-theme-balham.css";

// Container
.module {
    background-color: #6842a3;
    padding-bottom: 10vh;
}

// Breadcrumb navigation
.bc-navigation {
    background-color: #6842a3;
}

.bc-item > a ,.bc-item.active {
    font-weight: 500;
    color: #9cdb52;
}

// Seção
.section-content {
    padding-bottom: 5vh;
}

// Módulos
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.module-row {
  margin:0;
  margin-bottom: 2vh;
  display: center;
  align-items: center;
}

.card-body {
  border-left: 3px solid #6842a3;
  height: 80%;
}

.btn-acessar {
  border: 2px solid #b79fcc;
  font-weight: 700;
  font-size: 15pt;
  color: #6842a3;
  margin-bottom: 5vh;
}

.btn:hover {
  background-color: #6842a3;
  color:#ffffff;
}

a:focus {
    outline: none;
}

// Estilização de texto
.section-titulo { //h2
  color: #ffffff;
  font-weight: 300;
  font-size: 3rem;
  padding-bottom: 2vh;
}

.section-texto {
  color: #ffffff;
  text-align: justify;
  font-size: 15pt;
  margin: 0.5rem;
}

.subtitulo { //h3
  font-size: 2.5rem;
  font-weight: 300;
  color:#ffffff;
  padding-top: 5vh;
  padding-bottom: 2vh;
}

.card-titulo { //h4
  font-weight: 700;
  font-size: 20pt;
  color: #666666;
}

.card-texto, .footer-texto { //p
  font-weight: 300;
  font-size: 14pt;
  color: #666666;
}

.footer-texto {
  font-size: 18pt;
}

// Responsividade
.card-responsivo-media {
  display: none;
}

@media (max-width: 766px) {
// Novo card
  .card-body {
    border: none;
  }

  .btn-acessar {
    margin: 0px;
  }

  .parlametria-card-img-responsive {
    padding: 1rem;
  }

  .card-responsivo-media {
    display: flex;
  }

  .card-responsivo-main {
    display: none;
  }
}
