
<div class="parlametria-title text-center">
    <div>
      <h2>Inteligência de dados para ação cidadã</h2>
    </div>
  
  <!-- Módulos -->
  <div class=" modules row">
    <div class="col-sm-6 d-flex justify-content-center" style="padding-bottom: 60px;">
      <div class="card" style="width: 400px; height: 500px">
          <img src="assets/img/perfilpol.png" class="card-img-top" alt="..." style="padding-bottom: 32px;">
        <div class="card-body">
          <h5 class="card-title">Perfil Parlamentar</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut fringilla nisl, vitae mattis diam. Praesent at tempus libero, nec lobortis leo. Curabitur id finibus justo. Aenean ac rutrum massa. Sed dolor nibh, auctor quis lectus ut, consectetur varius felis. </p>
          <a href="#" class="btn btn-primary">Acessar</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 d-flex justify-content-center" style="padding-bottom: 60px;">
        <div class="card" style="width: 400px; height: 500px">
            <img src="assets/img/leggo.png" class="card-img-top" alt="..." > 
        <div class="card-body">
          <h5 class="card-title">Leg.go</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut fringilla nisl, vitae mattis diam. Praesent at tempus libero, nec lobortis leo. Curabitur id finibus justo. Aenean ac rutrum massa. Sed dolor nibh, auctor quis lectus ut, consectetur varius felis. </p>
          <a href="#" class="btn btn-primary">Acessar</a>
        </div>
      </div>
    </div>
  </div>