<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-8 col-sm-5 col-lg-3">
        <img
          src="assets/img/logotipo.png"
          alt="Parlametria"
          class="logotipo img-fluid">
      </div>
    </div>
  </div>
</header>

<div class="parlametria-title text-center">
  <h1 class="slogan">Inteligência de dados para ação cidadã</h1>
</div>

<!-- Módulos -->
<div class="module">
  <div class="container">
    <h3 class="subtitulo subtitulo-home text-md-left text-center">Conheça nossos projetos ativos</h3>

    <div class="card mt-3">
      <div class="card-horizontal">
        <div class="row card-row pt-2">
          <div class="col-md-4 text-center">
            <div class="p-4">
              <img
                src="assets/img/logo-painel.png"
                class="card-img w-80">
            </div>
          </div>
          <div class="col-md-8 px-3 card-body">
            <div class="card-borda px-3">
              <h4 class="card-titulo text-left">Painéis de acompanhamento</h4>
              <p class="card-texto text-left">
                Nos painéis, utilizamos o aprendizado de máquina e a ciência de dados para coletar informações da Câmara dos Deputados e do Senado Federal. Com isso, identificamos a temperatura das proposições, o que tramita com mais energia, como o conteúdo dos projetos é alterado e quem são os atores importantes nesse processo.
              </p>
              <div class="text-right">
                <a
                  href="https://painel.parlametria.org.br/"
                  class="btn btn-acessar text-right"
                  target="_blank">
                  ACESSAR
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="p-4">
              <img
                src="assets/img/perfil_parlamentar.png"
                class="card-img w-80">
            </div>
          </div>
          <div class="col-md-8 px-3 card-body">
            <div class="card-borda px-3">
              <h4 class="card-titulo text-left">Perfil Parlamentar</h4>
              <p class="card-texto text-left">
                A plataforma apresenta cruzamentos de bases de dados que revelam informações sobre quem são os deputados federais e senadores, como se posicionam nas votações e quais os seus vínculos e afinidades políticas e econômicas dentro e fora do Legislativo. Além de consulta individual, é possível ter uma visão geral das duas Casas Legislativas.
              </p>
              <div class="text-right">
                <a
                  href="https://perfil.parlametria.org/"
                  class="btn btn-acessar text-right"
                  target="_blank">
                  ACESSAR
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h3 class="subtitulo text-left pt-4">
      Projetos anteriores?
      <a
        routerLink="/projetos"
        class="projetos-text">
        Veja o histórico
      </a>
    </h3>
  </div>
</div>
